<main>
    <div id="wallpaper-image" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light wall">
        <div class="col-md-5 p-lg-5 mx-auto my-5 wheat-color">
            <h1 class="display-4 fw-normal">Gaming Center</h1>
            <p class="lead fw-normal">Online addicting games. Just jumpstart your online game.</p>
            <a class="btn btn-outline-secondary wheat-color" href="#">Coming soon</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    <div class="content-wrapper" style="margin: 0 60px 0;">
        
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
                style="background: url('https://play-lh.googleusercontent.com/09vTJy-MqegUNX4wUWTlBOjawb029X8zHJOK4QBjAek_Doklhi1OVWIbv8CDj3N8WB8v') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Shooting</h2>
                </div>
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background:url('https://staticg.sportskeeda.com/editor/2019/03/cedbb-15534102082658-800.jpg') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">Action</h2>
                </div>
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
            style="background: url('https://play-lh.googleusercontent.com/u3frcutB3NcfoTyrVg_pGcJmrw4YX_QW4plJ6Uu3u-RnAKc-HbTluLKh6rQve2bT3Uk') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Puzzle</h2>
                </div>
                 
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background: url('https://media.proprofs.com/images/QM/user_images/1826446/1605019977.jpg') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">Sports</h2>
                </div>
                   
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
            style="background: url('https://assets-prd.ignimgs.com/2021/10/22/campaign-mon-09-1634936686303.jpg') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Strategy</h2>
                </div>
                 
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background: url('https://www.funnygames.org/images/placeholders/thumb@2x.png') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">Funny</h2>
                </div>
                   
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
            style="background: url('https://www.girlgames.space/thumb/fitness-girl-dress-up.jpg') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Girl Games</h2>
                </div>
                 
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background: url('https://staticg.sportskeeda.com/editor/2021/06/e9814-16227119540337-800.jpg') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">Racing</h2>
                </div>
                   
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
            style="background: url('https://i.ytimg.com/vi/-_N4UjOOlUk/maxresdefault.jpg') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Zombie</h2>
                </div>
                 
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background: url('https://thesportseconomist.com/wp-content/uploads/2021/11/card-games-online-1.jpg') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">Card</h2>
                </div>
                   
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
            style="background: url('https://img.poki.com/cdn-cgi/image/quality=78,width=600,height=600,fit=cover,f=auto/71a5cb85e5a0664a3841d216caf12949.jpeg') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Clicker</h2>
                </div>
                 
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background: url('https://cdn.wethegeek.com/wp-content/uploads/2019/10/Shadow-Fight-game-1024x576.png') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">Fighting</h2>
                </div>
                   
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
            style="background: url('https://mypotatogames.com/wp-content/uploads/2019/05/Cute-mobile-games-780x400.jpg') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Cute</h2>
                </div>
                 
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background: url('https://www.hiveworkshop.com/attachments/easygames_swe_5-png.150220/') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">Easy</h2>
                </div>
                   
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
            style="background: url('https://cdn.akamai.steamstatic.com/steam/apps/414080/header.jpg?t=1628984719') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Hard</h2>
                </div>
                 
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background: url('http://animespider.com/wp-content/uploads/2018/07/best-war-games-for-PC.jpg') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">War</h2>
                </div>
                   
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
            style="background: url('https://dxhb0it26is40.cloudfront.net/productimages/aerosoft-f14-x_9_ss_l_141208103526.jpg') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Flying</h2>
                </div>
                 
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background: url('https://images.crazygames.com/games/brutalmania-io/cover-1584553430060.png?auto=format,compress&q=75&cs=strip&ch=DPR&w=1200&h=630&fit=crop') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">Bloody</h2>
                </div>
                   
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
            style="background: url('https://avatars.mds.yandex.net/get-games/1890793/2a0000018291fc4257e33ecd8df03a001b67/orig') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Arena</h2>
                </div>
                 
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background: url('https://gamaverse.com/c/i/y/basket-random.jpg') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">Random</h2>
                </div>
                   
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
            style="background: url('https://www.lifewire.com/thmb/12jYoNHbnLWWwZ8DXbBPWpnuSiw=/1920x1080/filters:fill(auto,1)/World-of-Warcraft-56aba2233df78cf772b55aca.jpg') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Adventure</h2>
                </div>
                 
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXzmOEVcJaXsl4iVpXWcAWKJqJaC_k5HQ4smtz4ybtQJTkfR4oICD-Vi9PumQRmm2AnOs&usqp=CAU') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">Balance</h2>
                </div>
                   
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
            style="background: url('https://cdn.splashmath.com/curriculum_uploads/images/playables/count_card_champs_6_gm.png') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Educational</h2>
                </div>
                 
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background: url('https://plays.org/screenshots/tower-defense.png') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">Tower Defence</h2>
                </div>
                   
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
            style="background: url('https://www.yurk.com/thumbs/stickrunning.png') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Running</h2>
                </div>
                 
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcIMB47B3puO2p8i1O7q6Vq4NdGtcUUkIZzmHhwZh50mz7zfkDNHQZiOGoyd8gFyL3KdA&usqp=CAU') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">Tanks</h2>
                </div>
                   
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
               <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden set-width game-select"
            style="background: url('http://cdn.shopify.com/s/files/1/2650/0192/collections/main-qimg-24b32325b2ec0dfedd42386bf9fea149_1200x1200.png?v=1578607805') no-repeat; background-size: cover;">
                <div class="my-3 p-3">
                    <h2 class="display-5">Platform</h2>
                </div>
                 
            </div>
            <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden set-width game-select"
            style="background: url('https://hips.hearstapps.com/digitalspyuk.cdnds.net/16/49/1481196340-multiplayer-games.jpg?resize=480:*') no-repeat; background-size: cover;">
                <div class="my-3 py-3">
                    <h2 class="display-5">Multiplayer</h2>
                </div>
                   
            </div>
        </div>
    </div>
</main>
<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
        <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Cool stuff</a></li>
          <li><a class="link-secondary" href="#">Random feature</a></li>
          <li><a class="link-secondary" href="#">Team feature</a></li>
          <li><a class="link-secondary" href="#">Stuff for developers</a></li>
          <li><a class="link-secondary" href="#">Another one</a></li>
          <li><a class="link-secondary" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Resource name</a></li>
          <li><a class="link-secondary" href="#">Resource</a></li>
          <li><a class="link-secondary" href="#">Another resource</a></li>
          <li><a class="link-secondary" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Business</a></li>
          <li><a class="link-secondary" href="#">Education</a></li>
          <li><a class="link-secondary" href="#">Government</a></li>
          <li><a class="link-secondary" href="#">Gaming</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Team</a></li>
          <li><a class="link-secondary" href="#">Locations</a></li>
          <li><a class="link-secondary" href="#">Privacy</a></li>
          <li><a class="link-secondary" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>