@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';
@import '~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

.dropdown-menu{
  border-radius: 15%;
  overflow: hidden;
}
.nav-link:hover{
  cursor: pointer;
}


mat-card-header{
  display: flex;
  //justify-content: center;
  align-items: center;
}

.example-card {
  max-width: 800px;
  border-radius: 10%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card-actions{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-button{
  border: none;
  outline: none;
}
.mat-menu-sub-button:focus{
  outline: none;
}

// #content-wrapper{
//   padding-top: 10px;
// }

.list-group {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}

mat-slider {
  width: 50px;
}

.badge-danger{
  margin: 10px;
    /* margin-left: 10px; */
    /* height: 25px; */
  font-size: 15px;
}
.top-nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
}