.img-container{
  height: 60px;
  position: absolute;
  top: -65px;
  border-radius: 50%;
  overflow: hidden;
  img{
    height: 60px;
    width: 60px;
  }
}
.name-container{
  position: absolute;
  font-size: 30px;
  top: -38px;
  left: 95px;
}
.control-panel{
  background-color: red;
  height: 42px;
  position: absolute;
  right: 0;
  width: 220px;
  top: -42px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
mat-icon{
  :hover{
    cursor: grab;
  }
}
.content{
  margin-left: 10px;
  margin-right: 10px;
}
.card-body{
  height: 100vh;
}
#vert-tabs-home{
  height: 580px;
}
#vert-tabs-list{
  height: 660px;
}
