<section class="content text-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 name-list">
        <div class="card">
          <div class="card-body p-0">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab"
                  aria-controls="vert-tabs-home" aria-selected="false" style="display: flex;
                   align-items: center;">
                  <img class="direct-chat-img" src="assets/img/avatar-male.png" alt="Message User Image">
                  <span id="name-container"
                    style="padding-left: 10px; font-size: 18px; font-weight: 600;">Important</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile" role="tab"
                  aria-controls="vert-tabs-profile" aria-selected="false">
                  <img class="direct-chat-img" src="assets/img/avatar-female.png" alt="Message User Image">
                  Promotions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab"
                  aria-controls="vert-tabs-messages" aria-selected="false">
                  <i class="far fa-circle text-primary"></i>
                  Social
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab"
                  aria-controls="vert-tabs-settings" aria-selected="false">
                  <i class="far fa-circle text-danger"></i>
                  Important
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab"
                  aria-controls="vert-tabs-messages" aria-selected="false">
                  <i class="far fa-circle text-primary"></i>
                  Social
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab"
                  aria-controls="vert-tabs-settings" aria-selected="false">
                  <i class="far fa-circle text-danger"></i>
                  Important
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab"
                  aria-controls="vert-tabs-messages" aria-selected="false">
                  <i class="far fa-circle text-primary"></i>
                  Social
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab"
                  aria-controls="vert-tabs-settings" aria-selected="false">
                  <i class="far fa-circle text-danger"></i>
                  Important
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab"
                  aria-controls="vert-tabs-messages" aria-selected="false">
                  <i class="far fa-circle text-primary"></i>
                  Social
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab"
                  aria-controls="vert-tabs-settings" aria-selected="false">
                  <i class="far fa-circle text-danger"></i>
                  Important
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab"
                  aria-controls="vert-tabs-settings" aria-selected="false">
                  <i class="far fa-circle text-danger"></i>
                  Important
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab"
                  aria-controls="vert-tabs-messages" aria-selected="false">
                  <i class="far fa-circle text-primary"></i>
                  Social
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab"
                  aria-controls="vert-tabs-settings" aria-selected="false">
                  <i class="far fa-circle text-danger"></i>
                  Important
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab"
                  aria-controls="vert-tabs-messages" aria-selected="false">
                  <i class="far fa-circle text-primary"></i>
                  Social
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab"
                  aria-controls="vert-tabs-settings" aria-selected="false">
                  <i class="far fa-circle text-danger"></i>
                  Important
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab"
                  aria-controls="vert-tabs-messages" aria-selected="false">
                  <i class="far fa-circle text-primary"></i>
                  Social
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab"
                  aria-controls="vert-tabs-settings" aria-selected="false">
                  <i class="far fa-circle text-danger"></i>
                  Important
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab"
                  aria-controls="vert-tabs-settings" aria-selected="false">
                  <i class="far fa-circle text-danger"></i>
                  Important
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab"
                  aria-controls="vert-tabs-messages" aria-selected="false">
                  <i class="far fa-circle text-primary"></i>
                  Social
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab"
                  aria-controls="vert-tabs-settings" aria-selected="false">
                  <i class="far fa-circle text-danger"></i>
                  Important
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab"
                  aria-controls="vert-tabs-messages" aria-selected="false">
                  <i class="far fa-circle text-primary"></i>
                  Social
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab"
                  aria-controls="vert-tabs-settings" aria-selected="false">
                  <i class="far fa-circle text-danger"></i>
                  Important
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab"
                  aria-controls="vert-tabs-messages" aria-selected="false">
                  <i class="far fa-circle text-primary"></i>
                  Social
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab"
                  aria-controls="vert-tabs-settings" aria-selected="false">
                  <i class="far fa-circle text-danger"></i>
                  Important
                </a>
              </li>
            </ul>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-8">
        <div class="card card-primary card-outline tab-pane text-left fade show active" id="vert-tabs-home"
          role="tabpanel" aria-labelledby="vert-tabs-home-tab" style="overflow-y: hidden;">
          <nav class="navbar navbar-expand navbar-primary navbar-dark">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <div class="message-loader-2">
                  <div class="loader-bar-2"></div>
                  <div class="loader-bar-2"></div>
                  <div class="loader-bar-2"></div>
                </div>
              </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                  <mat-icon>phone</mat-icon>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                  <mat-icon>videocam</mat-icon>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                  <mat-icon>more_vert</mat-icon>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                  <a href="#" class="dropdown-item">
                    <i class="fa-solid fa-circle-exclamation"></i> Report Chat
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                    <i class="fas fa-users mr-2"></i> See Profile
                    <span class="float-right text-muted text-sm">12 hours</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                    <i class="fas fa-file mr-2"></i> 3 new reports
                    <span class="float-right text-muted text-sm">2 days</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
              </li>
            </ul>
          </nav>
          <div class="direct-chat-messages card-body">
            <!-- Message. Default to the left -->

            <div class="direct-chat-msg">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-left">Alexander Pierce</span>
                <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="assets/img/avatar-male.png" alt="Message User Image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                Is this template really for free? That's unbelievable!
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->

            <!-- Message to the right -->
            <div class="direct-chat-msg right">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-right">Sarah Bullock</span>
                <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="assets/img/avatar-female.png" alt="Message User Image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                You better believe it!
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->
            <!-- Message. Default to the left -->
            <div class="direct-chat-msg">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-left">Alexander Pierce</span>
                <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="assets/img/avatar-male.png" alt="Message User Image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                Is this template really for free? That's unbelievable!
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->
            <div class="direct-chat-msg right">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-right">Sarah Bullock</span>
                <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="assets/img/avatar-female.png" alt="Message User Image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                You better believe it!
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->
            <!-- Message. Default to the left -->
            <div class="direct-chat-msg">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-left">Alexander Pierce</span>
                <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="assets/img/avatar-male.png" alt="Message User Image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                Is this template really for free? That's unbelievable!
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->
            <div class="direct-chat-msg right">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-right">Sarah Bullock</span>
                <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="assets/img/avatar-female.png" alt="Message User Image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                You better believe it!
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->
            <!-- Message. Default to the left -->
            <div class="direct-chat-msg">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-left">Alexander Pierce</span>
                <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="assets/img/avatar-male.png" alt="Message User Image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                Is this template really for free? That's unbelievable!
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->
            <div class="direct-chat-msg right">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-right">Sarah Bullock</span>
                <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="assets/img/avatar-female.png" alt="Message User Image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                You better believe it!
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->
            <!-- Message. Default to the left -->
            <div class="direct-chat-msg">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-left">Alexander Pierce</span>
                <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="assets/img/avatar-male.png" alt="Message User Image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                Is this template really for free? That's unbelievable!
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->

            <!-- Message to the right -->
            <div class="direct-chat-msg right">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-right">Sarah Bullock</span>
                <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="assets/img/avatar-female.png" alt="Message User Image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                You better believe it!
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->
            <!-- Message. Default to the left -->
          </div>
          <div class="card-footer">
            <form action="#" method="post">
              <div class="input-group">
                <span class="input-group-append"
                  style="display: flex; justify-content: center; align-items: center;margin-right: 15px;">
                  <mat-icon matBadgeColor="warn" style="cursor: pointer;">sentiment_very_satisfied</mat-icon>
                </span>
                <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                <span class="input-group-append">
                  <button type="submit" class="btn btn-primary">Send</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
  </div>
</section>