@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';
@import '~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';



.d-block {
  height: 500px;
  width: 100px;
}

.profile{
  display:table;
  margin:0 auto;
  position:absolute ;
  height: 180px;
  width: 180px;
  background-color: yellow;
  border-radius: 50%;
  left: 100px; right: 0; top: 5px ; bottom: 0;
  cursor: alias;
}

.profile-pic{
  height: 180px;
  width: 180px;
  background-color: yellow;
  border-radius: 50%;
  left: 100px; right: 0; top: 5px ; bottom: 0;
  cursor: alias;
}

.material-icons{
  display:table;
  margin:5px auto ;
}
.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}
.dropdown-menu{
  border-radius: 15%;
  overflow: hidden;
}
.nav-link:hover{
  cursor: pointer;
}
