<div class="main-container hold-transition login-page">
  <div class="xx">
    <div class="row">
      <div class="heading">
        <div>Welcome to Palindrome</div>
      </div>
    </div>

    <div class="button-pad">
        <div class="button-container">
          <button type="button" (click)="LoadSignIn()" class="btn btn-block btn-outline-warning btn-lg">Sign In</button>
      </div>
        <div>
          <button type="button" (click)="LoadSignUp()" class="btn btn-block btn-outline-warning btn-lg">Sign Up</button>
        </div>
    </div>



  </div>
</div>
