<section class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a routerLink ="../../index.html"><b>Palin</b>DROME</a>
    </div>
  
    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Register a new membership</p>
  
        <form #frm="ngForm" (ngSubmit)="createAccount()">
          <div class="input-group mb-3">
            <input class="form-control"(input)="findUser()" #txtUsername name="txt-username" required [minlength]="3" pattern="[A-Za-z]+" [(ngModel)]="username" id="txt-username" type="text"
                   placeholder="Enter username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <small [style.color]="'red'" *ngIf="userExists">Username is already taken</small>
          <div class="input-group mb-3">
            <input class="form-control" name="txt-email" required
                   
                   [(ngModel)]="email" id="txt-email" type="email"
                   placeholder="Enter email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <!-- <div class="input-group mb-3">
            <input class="form-control" name="txt-contact-number" [minlength]="10" pattern="[0-9]+" [(ngModel)]="contactNumber" id="txt-contact-number" type="text"
                   placeholder="Enter Contact Number">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-phone"></span>
              </div>
            </div>
          </div> -->
          <!-- <div class=" mb-3">
            <label id="example-radio-group-label">Gender</label><br>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              name="gender"
              [(ngModel)]="selectedGender">
              <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender" [color]="color">
                {{gender}}
              </mat-radio-button>
            </mat-radio-group>
          </div> -->
          <div class="input-group mb-3">
            <input class="form-control" name="txt-password" required [minlength]="3" [(ngModel)]="password" id="txt-password" type="password" placeholder="Enter password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input class="form-control" name="txt-confirm-password" required [minlength]="3" [(ngModel)]="confirmPassword" id="txt-confirm-password" type="password"
                   placeholder="Enter password again">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <small [style.color]="'red'" *ngIf="password.length > 0 && confirmPassword.length > 0 && password !== confirmPassword">Mismatched Password</small>
          <div class="row" style="display: flex; justify-content: center;align-items: center;">
            <div style="width: 50%;">
              <button class="btn btn-block btn-outline-warning" [disabled]="!(frm.valid && (password === confirmPassword) && !userExists)">Sign-up</button>
            </div>
          </div>
        </form>
  
        <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>
            Sign up using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>
            Sign up using Google+
          </a>
        </div>
  
        <a routerLink="/sign-in" class="text-center">I already have a membership</a>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
</section>

