<section class="hold-transition register-page">
  <div class="register-box">
    <div class="card card-outline card-danger">
      <span class="card-header text-center">
        <div class="header-wrapper">
          <span>
            <img src="assets/img/p.jpg" alt="logo" style="height: 100px">
          </span>
          <a routerLink="/sign-up" class="h1"><b>Palindrome</b> Signup</a>
        </div>
      </span>

      <div class="card-body">
        <form #frm="ngForm" (ngSubmit)="verifyAccount()">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" (input)="findUser()" #txtUsername
              name="txt-username" required [minlength]="3" pattern="[A-Za-z]+" [(ngModel)]="username" id="txt-username"
              type="text">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <small style="position: absolute; z-index: 10;top: 185px" [style.color]="'red'" *ngIf="userExists">Username is
            already taken</small>
          <div class="input-group mb-3">
            <input class="form-control" name="txt-email" required [(ngModel)]="email" id="txt-email" type="email"
              placeholder="Email" (input)="findEmail()">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <small style="position: absolute; z-index: 10;top: 239px" [style.color]="'red'" *ngIf="emailExists">Email is
            already taken</small>
          <div class="input-group mb-3">
            <button type="button" class="btn btn-default" style="cursor: default;margin: 0;">
              Gender
            </button>
            <select class="custom-select rounded-0 form-control" id="exampleSelectRounded0" [(ngModel)]="gender" name="txt-gender">
              <option>Male</option>
              <option>Female</option>
              <option>Custom</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group date" id="reservationdate" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate"
                placeholder="Date of Birth" readonly="readonly" data-target="#reservationdate" matInput
                [matDatepicker]="picker" required [(ngModel)]="dob" name="dob" />
              <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                <span >
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input class="form-control" name="txt-password" required [minlength]="3" [(ngModel)]="password"
              id="txt-password" type="password" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input class="form-control" name="txt-confirm-password" required [minlength]="3"
              [(ngModel)]="confirmPassword" id="txt-confirm-password" type="password" placeholder="Retype password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <small [style.color]="'red'" style="position: absolute; z-index: 10; bottom: 90px;"
            *ngIf="password.length > 0 && confirmPassword.length > 0 && password !== confirmPassword">Mismatched
            Password</small>
          <div class="row" style="display: flex; justify-content: center;align-items: center;">
            <div style="width: 50%;">
              <button class="btn btn-block btn-outline-warning"
                [disabled]="!(frm.valid && (password === confirmPassword) && !userExists)">Sign-up</button>
            </div>
          </div>
        </form>

        <!-- <div class="social-auth-links text-center mb-3">
                <p>- OR -</p>
                <a class="btn btn-block btn-primary" (click)="loginWithFacebook()">
                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                </a>
                <a class="btn btn-block btn-danger" (click)="loginWithGoogle()">
                    <i class="fab fa-google-plus mr-2 "></i> Sign in using Google
                </a>
            </div> -->
        <a routerLink="/sign-in" class="text-center">I already have a membership</a>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
</section>