@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

H1{
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
  color: chocolate;
}
H2{
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  color: chocolate;
}

.main-container{
  width: 100vw;
}
.btn{
  margin-bottom: 10px;
}
