@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:host{
  margin-right: 0px;
}

.main-header-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header{
  border-bottom: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 52px;
  text-align: center;
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.img-container{
  height: 420px;
  width: 420px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    border-radius: 50%;
    height: 385px;
    width: 385px;
  }
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  position: absolute;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding: 10px 12px;
  background-color: #4245a8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}

// about text
.primary-content {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resp-textbox {
  position: relative;
  width: 300px;
}
.resp-textbox > input[type=text] {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  background-color: #0003;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25) inset;
  color: #fff;
}
.resp-textbox > input[type=text]:focus {
  outline: none;
  box-shadow: 325px 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.resp-textbox > input[type=text]::placeholder {
  color: #fff8;
}


.card{
  padding: 20px;
}


//callout text
.input-data{
  height: 40px;
  width: 100%;
  position: relative;
}
.input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  outline: none;
  border-bottom: 2px solid silver;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}
.input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-data .underline{
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}
