.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Ubuntu, serif;
  font-weight: 26;
  margin: 10px;
}
.image-view{
  width: 750px;
}
