@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Mountains+of+Christmas:wght@700&display=swap');


// posts adding button

// this is just here to center the button
.centering_container {
  position: fixed;
  bottom: 20px;
  z-index: 1;
}

// remove outline in Firefox
#posts-adding-button::-moz-focus-inner { border: 0; }


#posts-adding-button {

  height: 45px;
  width: 45px;
  
  // use this to keep the pseduo element
  // contained to the button
  position: relative;
  
  background: #2189e8;
  border: none;
  border-radius: 100%;
  outline: none;
  transition: all 300ms ease;
  
  // styling icon
  color: #fff;
  font-size: 2em;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 0.45;
  
  // if you decide to use a box-shadow, you don't need
  // the pseudo element
  // but you also won't have control over the box-shadow color
  // when a user hovers or focuses without javascript
  // for example: adding a class to add a different animation
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center;
    border-radius: 100%;    
    height: 100%;
    width: 100%;
    z-index: -1;
    
    background: repeating-radial-gradient(
      rgba(33,137,232,0.0) 0%,
      rgba(33,137,232,0.15) 50%,
      rgba(33,137,232,0.5) 75%,
      rgba(33,137,232,0.05) 100%
    );
    
    // animation: pulse_pseudo 2.5s ease-in-out infinite;
    animation: pulse_shadow 2s ease-in-out infinite;
  }
  
    // self-gratifying hover/focus transition
    // only works with pseudo element
    &:hover, &:focus {
    outline: none;
    background: tomato;
    transform: rotate(45deg);

      &:after {
        background: repeating-radial-gradient(
          rgba(255,99,71,0.0) 0%,
          rgba(255,99,71,0.15) 50%,
          rgba(255,99,71,0.5) 75%,
          rgba(255,99,71,0.05) 100%
        );    
      }
    }
}


@keyframes pulse_pseudo {
  0% {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
  }
  
	100% {
    opacity: 0;
    transform: translate(-50%,-50%) scale(2.25);
  }
}


@keyframes pulse_shadow {
  0% { box-shadow: 0px 0px 0px 0px rgba(33,137,232,0.25); }
  100% {box-shadow: 0px 0px 3px 30px rgba(33,137,232,0.0); }
}
  
// ending posts adding button

  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Ubuntu, serif;
    font-weight: 26;
    margin: 10px;
  }
  
  .image-view {
    max-width:550px;
    height:auto;
    width:auto;
    margin-top: 10px;
  }
  
  
  .example-header-image {
    overflow: hidden;
    border-radius: 50%;
  }
  
  .launch-owner-profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  
    div {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
  }
  
  .mat-button {
    border: none;
    outline: none;
  }
  
  .menu-container {
    position: absolute;
    right: 16px;
    top: 13px;
  }
  
  /*styles for dropdown of feeling*/
  @mixin hide() {
    transform-origin: top;
    transform: scaleY(0);
  }
  
  @mixin show() {
    transform: scaleY(1);
  }
  
  nav {
    //position: fixed;
    display: inline-block;
    transition: all 0.3s ease-out;
    z-index: 1;
    @include hide();
  
    &.expanded {
      @include show();
    }
  
    &.row {
      > ul {
        > li {
          display: inline-block;
  
          > nav {
            position: absolute;
            top: 100%;
            left: 0;
          }
        }
      }
    }
  
  
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
  
      li {
        position: relative;
        padding: 0.5em;
        white-space: nowrap;
  
        &:hover {
          cursor: pointer;
        }
      }
    }
  
    nav:hover,
    li:hover > nav {
      @include show();
    }
  }
  
  
  .comment-box-container {
    input {
      outline: none;
      border: none;
      border-bottom: 1px solid;
    }
  }
  
  .feeling {
    transform: rotate(
        134deg
    );
  }


  .sticky-card{
    position: -webkit-sticky;
    position: sticky;
    }
  .card-status{
    top: 10px
  }
  .card-leaderboard{
    top: 374px;
  }

  .mat-card{
    margin-bottom: 20px;
    &.mat-card-content{
      // text-align: center;
    }
  }

  p{
    margin-left: 30px;
    text-align: left;
  }

  .header-container{
    margin-bottom: 40px;
  }
  card{
    text-align: center;
  }
  .words{
    font-family: 'Monoton', cursive;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 70px;
    text-space: 5px;
  }
  .create-launch-theme{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    text-align: center;
  }
  .launch-creating-area{
    display: flex;
    justify-content: center;
    align-items: center;
    .upload-media{
      margin-top:40px ;
      margin-left:100px ;
      margin-right:100px ;
      bottom:20px ;
      text-align: center;
      position: relative;
      display: block;
      img{
        height: 100%;
        width: 100%
      }
  
    }
    .uploading-button-container{
      position: absolute;
      display: flex;
      right: 25px;
      bottom: 25px;
    }
  
    .file-input__input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  
    .file-input__label {
      position: absolute;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      border-radius: 50%;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      font-size: 14px;
      padding: 10px 12px;
      background-color: #4245a8;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    }
  
    .file-input__label svg {
      height: 20px;
    }
  
  
    .launch-description{
      padding: 20px;
      height: 50px;
      margin-left:80px ;
      margin-right:80px ;
      margin-bottom: 80px;
      .example-full-width {
        width: 100%;
      }
  
    }
  }
  .mat-menu-panel{
    max-width: 500px;
  }
  .mat-menu-container{
    width: auto;
  }
  .mat-menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .emojis{
    margin: 10px;
    background-color: transparent;
    border: none;
    font-size: 22px;
    padding: 5px;
  }
  .feeling-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 50px;
    font-family: 'Monoton', cursive;
    font-family: 'Mountains of Christmas', cursive;
  }
  .sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 40px;
  }
  
  
  .main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Ubuntu, serif;
    font-weight: 26;
    margin: 10px;
    img{
      width: 750px;
    }
  }