<img src="https://media.giphy.com/media/3o6UBpHgaXFDNAuttm/giphy.gif">
<img src="https://media.giphy.com/media/  afcgyMA2255Kg/giphy.gif">
<section class="content">
  <div class="container-fluid">
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-md-8">
        <!-- /.card -->
        <div class="centering_container">
          <button id="posts-adding-button" data-bs-toggle="tooltip" data-bs-placement="right" title="add a post"
            data-toggle="modal" data-target="#modal-lg">+</button>
        </div>

        <!-- TABLE: LATEST ORDERS -->
        <div class="card card-widget" *ngFor="let launch of launches">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="menu-container">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>bookmark_border</mat-icon>
                  <span>Save</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>flag_circle</mat-icon>
                  <span>Report</span>
                </button>
              </mat-menu>
            </div>
            <div class="ribbon bg-danger text-xl">
              <span class="feeling">{{launch.feeling}}</span>
            </div>
          </div>
          <div class="card-header">
            <div class="user-block">
              <img class="img-circle" *ngIf="launch.profilePicture == null ; else elseBlock" src="{{userDP}}"
                alt="User Image">
              <ng-template #elseBlock>
                <img class="img-circle" [src]="('data:image/png;base64,' + launch.profilePicture)" alt="User Image">
              </ng-template>
              <span class="username"><a href="#">{{launch.userName}}</a></span>
              <span class="description">{{launch.shortDescription}}</span>
              <span *ngIf="launch.updatedTime != null" class="description">Shared publicly -
                {{launch.updatedTime}}</span>
            </div>
            <!-- /.user-block -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <img class="img-fluid pad" src="data:image/png;base64,{{launch.file}}" alt="Photo">

            <p [innerText]="launch.description"></p>
            <div style="
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        ">
              <nav class="row expanded">
                <ul>
                  <li>
                    <!-- <div *ngFor="let reaction of launch.reactions">
                      <div *ngIf="reaction.userId == myUserId"></div>
                    </div> -->
                    <button mat-icon-button *ngIf="launch.reactType" [color]=[reactColor]
                      aria-label="Example icon-button with a heart icon" (click)="changeColor(launch.launchId)">
                      <mat-icon>{{react}}</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="launch.reactType != ''" [color]=[reactColor]
                      aria-label="Example icon-button with a heart icon" (click)="changeColor(launch.launchId)">
                      <mat-icon>{{react}}</mat-icon>
                    </button>
                    <nav class="row">
                      <ul>
                        <li *ngFor="let react of reacts">
                          <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon"
                            (click)="changeReactType(react)">
                            <mat-icon>{{react}}</mat-icon>
                          </button>
                        </li>
                      </ul>
                    </nav>
                  </li>
                </ul>
              </nav>
              <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon"
                data-toggle="collapse" href="#collapseOne" (click)="getFocus()">
                <mat-icon>textsms</mat-icon>
              </button>
              <div class="btn-group">
                <button mat-icon-button aria-label="Example icon-button with a heart icon" type="button"
                  class="btn btn-default" data-toggle="dropdown" style="background-color: unset;border-radius: 50%;">
                  <mat-icon>share</mat-icon>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul>
              </div>
            </div>
            <span class="float-right text-muted"> {{launch.reactions.length}} reactions - {{launch.comments.length}}
              comments</span>
          </div>
          <div *ngIf="launch.comments.length != 0">
            <div style="display: flex; justify-content: space-evenly;align-items: center;">
              <a style="cursor: pointer; color: blue;">previous comments</a>
            </div>
            <!-- /.card-body -->
            <div class="card-footer card-comments">
              <div class="direct-chat-messages" style="height: 80px;">
                <div class="card-comment" *ngFor="let comment of launch.comments">
                  <div class="wrapper" style="position: relative;">
                    <div class="onlineStatus"
                      style="position: absolute;height: 7.8px; width: 7.8px; border-radius: 50%; background-color: green;left:18px;top:24px;z-index: 10;">
                    </div>
                    <!-- User image -->
                    <img *ngIf="!comment.userImage" class="img-circle img-sm" src="assets/img/avatar-other.png"
                      alt="User Image">
                    <img *ngIf="comment.userImage" class="img-circle img-sm"
                      src="data:image/png;base64,{{comment.userImage}}" alt="User Image">
                  </div>

                  <div class="comment-text">
                    <span class="username">
                      {{comment.userName}}
                      <span class="text-muted float-right">{{comment.commentedDate}}</span>
                    </span><!-- /.username -->
                    {{comment.comment}}
                  </div>
                  <!-- /.comment-text -->
                </div>
              </div>
              <!-- /.card-comment -->
            </div>
          </div>
          <!-- /.card-footer -->
          <div class="card-footer">
            <form action="#" method="post">
              <div class="onlineStatus"
                style="position: absolute;height: 7.8px; width: 7.8px; border-radius: 50%; background-color: green; left: 43px; bottom: 14px; z-index: 10;">
              </div>
              <div class="img-group" style="display: flex">
                <img *ngIf="myDP" class="img-fluid img-circle img-sm" src="data:image/png;base64,{{myDP}}"
                  alt="Alt Text" style="margin: 5px;">
                <img *ngIf="!myDP " class="img-fluid img-circle img-sm" src="assets/img/avatar-other.png" alt="Alt Text"
                  style="margin: 5px">
                <!-- .img-push is used to add margin to elements next to floating images -->
                <input type="text-area" name="message" placeholder="Comment here ..." class="form-control" #commentBox
                  autofocus />
                <button type="button" class="btn btn-warning" (click)="saveComment(commentBox.value,launch.launchId)"
                  style="height: 38px;margin-left: 2px;">
                  <mat-icon>comment</mat-icon>
                </button>
                <button type="button" class="btn btn-warning" (click)="saveComment(commentBox.value,launch.launchId)"
                  style="height: 38px;margin-left: 2px;">
                  <mat-icon>comment</mat-icon>
                </button>
              </div>
            </form>
          </div>
          <!-- /.card-footer -->
        </div>

      </div>
      <!-- /.col -->

      <div class="col-md-4">


        <div class="card sticky-card card-status">
          <h3 class="card-title">
            <p class="center"> Who's online 🤠</p>
          </h3>
          <!-- /.card-header -->
          <div class="card-body" style="height: 500px;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <ul class="users-list clearfix">
                    <li>
                      <img src="../../../../assets/img/user1-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander Pierce</a>
                      <span class="users-list-date">Today</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user8-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Norman</a>
                      <span class="users-list-date">Yesterday</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user7-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Jane</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user6-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">John</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user2-160x160.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander</a>
                      <span class="users-list-date">13 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user5-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Sarah</a>
                      <span class="users-list-date">14 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user4-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nora</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nadia</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user1-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander Pierce</a>
                      <span class="users-list-date">Today</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user8-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Norman</a>
                      <span class="users-list-date">Yesterday</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user7-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Jane</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user6-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">John</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user2-160x160.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander</a>
                      <span class="users-list-date">13 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user5-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Sarah</a>
                      <span class="users-list-date">14 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user4-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nora</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nadia</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                  </ul>
                </div>
                <div class="carousel-item">
                  <ul class="users-list clearfix">
                    <li>
                      <img src="../../../../assets/img/user1-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander Pierce</a>
                      <span class="users-list-date">Today</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user8-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Norman</a>
                      <span class="users-list-date">Yesterday</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user7-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Jane</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">John</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander</a>
                      <span class="users-list-date">13 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Sarah</a>
                      <span class="users-list-date">14 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nora</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nadia</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user1-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander Pierce</a>
                      <span class="users-list-date">Today</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user8-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Norman</a>
                      <span class="users-list-date">Yesterday</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user7-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Jane</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">John</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander</a>
                      <span class="users-list-date">13 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Sarah</a>
                      <span class="users-list-date">14 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nora</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nadia</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                  </ul>
                </div>
                <div class="carousel-item">
                  <ul class="users-list clearfix">
                    <li>
                      <img src="../../../../assets/img/user8-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander Pierce</a>
                      <span class="users-list-date">Today</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user8-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Norman</a>
                      <span class="users-list-date">Yesterday</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user8-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Jane</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user8-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">John</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user2-160x160.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander</a>
                      <span class="users-list-date">13 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user5-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Sarah</a>
                      <span class="users-list-date">14 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user4-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nora</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nadia</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user1-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander Pierce</a>
                      <span class="users-list-date">Today</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user8-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Norman</a>
                      <span class="users-list-date">Yesterday</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user7-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Jane</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">John</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Alexander</a>
                      <span class="users-list-date">13 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Sarah</a>
                      <span class="users-list-date">14 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nora</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                    <li>
                      <img src="../../../../assets/img/user3-128x128.jpg" alt="User Image">
                      <a class="users-list-name" href="#">Nadia</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                  </ul>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-custom-icon" aria-hidden="true">
                  <i class="fas fa-chevron-left"></i>
                </span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-custom-icon" aria-hidden="true">
                  <i class="fas fa-chevron-right"></i>
                </span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- PRODUCT LIST -->
        <!-- <div class="card sticky-card card-leaderboard">
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Item</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                    <td>alpha</td>
                    <td><span class="badge badge-success">Shipped</span></td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR1848</a></td>
                    <td>beta</td>
                    <td><span class="badge badge-warning">Pending</span></td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                    <td>gamma</td>
                    <td><span class="badge badge-danger">Delivered</span></td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                    <td>ceta</td>
                    <td><span class="badge badge-info">Processing</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="modal-lg" onClose={handleClose}>
  <div class="modal-dialog modal-lg search-box" style="position: fixed;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);">
    <mat-dialog-content class="mat-typography">
      <div class="modal-content">
        <div class="modal-body">
          <div class="header-container">
            <h1 class="create-launch-theme">😇 <span class="words"> Let's make a Launch</span>😉🚀</h1>
          </div>
          <div class="launch-creating-area">
            <div class="card">
              <div class="upload-media">
                <div class="sub-upload-media">
                  <img class="blah" *ngIf="visibleImage" [src]="imageSrc || 'assets/img/default.png'"
                    alt="your image" />
                  <video class="blah" *ngIf="visibleVideo" width="320" height="240" controls [src]="videoSrc" autoplay>
                    Your browser does not support the video tag.
                  </video>
                  <audio class="blah" *ngIf="visibleAudio" controls autoplay [src]="audioSrc">
                    <source [src]="audioSrc">
                    Your browser does not support the audio element.
                  </audio>
                </div>
                <div class="uploading-button-container">
                  <input type="file" name="file-input" id="file-input" class="file-input__input"
                    (change)="readURL($event);" />
                  <label class="file-input__label" for="file-input">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload"
                      class="svg-inline--fa fa-upload fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512">
                      <path fill="currentColor"
                        d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z">
                      </path>
                    </svg>
                  </label>
                </div>
              </div>
              <form>

                <div class="form-group">
                  <div class="launch-description">
                    <mat-form-field class="example-full-width">
                      <mat-label>Describe your launch 😉</mat-label>
                      <textarea matInput class="example-full-width description" name="launch-description"
                        [(ngModel)]="description"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group">
                  <div class="feeling-container">
                    Feeling with Launch :

                    <div class="btn-group">
                      <button type="button" class="btn btn-default" data-toggle="dropdown">
                        <strong class="feeling-with-launch-icon">{{emoji}}</strong>
                      </button>
                      <div class="dropdown-menu" role="menu">
                        <a *ngFor="let emoji of emojis" class="emojis" (click)="addEmoji (emoji)">{{emoji}}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <angular-emojis [name]="emojivar" size="30" (mouseenter)="changeRoutine()" > </angular-emojis> -->

                <div class="sub-container">
                  <mat-slider class="form-control" [displayWith]="formatLabel" min="1" max="1000" step="4" value="1.5"
                    (input)="pitch($event)">
                    🚀
                  </mat-slider>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->