@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
.main-header-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header{
  border-bottom: 0;
  font-family: 'Indie Flower', cursive;
  font-size: 52px;
  color: goldenrod;
}
.invoice{
  margin-right: 10px;
  border-radius: 20px;
  margin-left: 10px;
}
.payment{
  margin: 5px;
}
.row{
  margin-bottom: 20px;
}
.pali1{
  font-family: 'Noto Sans KR', sans-serif;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-media{
  height: 550px;
  width: 500px;
}
.pali2{
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 20px;
}
