<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Hello Welcome to the Community Group</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Recent Posts
      </h3>
      <mat-card class="example-card">
        <div class="ribbon-wrapper ribbon-xl">
          <div class="menu-container">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>bookmark_border</mat-icon>
                <span>Save</span>
              </button>
              <button mat-menu-item>
                <mat-icon>flag_circle</mat-icon>
                <span>Report</span>
              </button>
            </mat-menu>
          </div>
          <div class="ribbon bg-danger text-xl">
            <span class="feeling">COOL</span>
            <!-- <span class="feeling">{{launch.feeling}}</span> -->
          </div>
        </div>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <!-- <img src="assets/img/avatar-other.png" alt="profile"> -->
            <!-- <img [src]="'data:image/png;base64,' + launch.profilePicture|| 'assets/img/avatar-other.png'" alt="launch-owner-profile-picture" class="launch-owner-profile-picture"> -->
            <img [src]="'assets/img/avatar-other.png'" alt="launch-owner-profile-picture" class="launch-owner-profile-picture">
          </div>
          <!-- <mat-card-title class="float-right">{{launch.userName}}</mat-card-title> -->
          <mat-card-title class="float-right">Damiboy</mat-card-title>
          <!-- <mat-card-subtitle>{{launch.shortDescription}}</mat-card-subtitle> -->
          <mat-card-subtitle>Lorem</mat-card-subtitle>

        </mat-card-header>
        <!-- <img src="data:image/png;base64,{{launch.file}}" class="image-view"> -->
        <img src="assets\img\62-900x500.jpg" class="image-view">
        <!-- <mat-card-content>
          <p [innerText]="launch.description"></p>
        </mat-card-content> -->
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, iste nulla. Animi earum suscipit eveniet maxime, quam quia aut, libero et porro quisquam delectus quos repudiandae, perferendis eaque nostrum sunt.
          </p>
        </mat-card-content>
        <hr>
        <mat-card-actions>
          <div>
            <nav class="row expanded">
              <ul>
                <li>
                  <button mat-icon-button [color]=[reactColor] aria-label="Example icon-button with a heart icon"
                    (click)="changeColor()">
                    <mat-icon>{{react}}</mat-icon>
                  </button>
                  <nav class="row">
                    <ul>
                      <li *ngFor="let react of reacts">
                        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon"
                          (click)="changeReactType(react)">
                          <mat-icon>{{react}}</mat-icon>
                        </button>
                      </li>
                    </ul>
                  </nav>
                </li>
              </ul>
            </nav>
            <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon"
              (click)="(comment.focus())">
              <mat-icon>textsms</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon>share</mat-icon>
            </button>
          </div>
        </mat-card-actions>
        <hr>
        <div class="comment-box-container">
          <input type="text" #comment>
        </div>
      </mat-card>
      <mat-card class="example-card">
        <div class="ribbon-wrapper ribbon-xl">
          <div class="menu-container">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>bookmark_border</mat-icon>
                <span>Save</span>
              </button>
              <button mat-menu-item>
                <mat-icon>flag_circle</mat-icon>
                <span>Report</span>
              </button>
            </mat-menu>
          </div>
          <div class="ribbon bg-danger text-xl">
            <span class="feeling">COOL</span>
            <!-- <span class="feeling">{{launch.feeling}}</span> -->
          </div>
        </div>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <!-- <img src="assets/img/avatar-other.png" alt="profile"> -->
            <!-- <img [src]="'data:image/png;base64,' + launch.profilePicture|| 'assets/img/avatar-other.png'" alt="launch-owner-profile-picture" class="launch-owner-profile-picture"> -->
            <img [src]="'assets/img/avatar-other.png'" alt="launch-owner-profile-picture" class="launch-owner-profile-picture">
          </div>
          <!-- <mat-card-title class="float-right">{{launch.userName}}</mat-card-title> -->
          <mat-card-title class="float-right">Damiboy</mat-card-title>
          <!-- <mat-card-subtitle>{{launch.shortDescription}}</mat-card-subtitle> -->
          <mat-card-subtitle>Lorem</mat-card-subtitle>

        </mat-card-header>
        <!-- <img src="data:image/png;base64,{{launch.file}}" class="image-view"> -->
        <img src="assets\img\62-900x500.jpg" class="image-view">
        <!-- <mat-card-content>
          <p [innerText]="launch.description"></p>
        </mat-card-content> -->
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, iste nulla. Animi earum suscipit eveniet maxime, quam quia aut, libero et porro quisquam delectus quos repudiandae, perferendis eaque nostrum sunt.
          </p>
        </mat-card-content>
        <hr>
        <mat-card-actions>
          <div>
            <nav class="row expanded">
              <ul>
                <li>
                  <button mat-icon-button [color]=[reactColor] aria-label="Example icon-button with a heart icon"
                    (click)="changeColor()">
                    <mat-icon>{{react}}</mat-icon>
                  </button>
                  <nav class="row">
                    <ul>
                      <li *ngFor="let react of reacts">
                        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon"
                          (click)="changeReactType(react)">
                          <mat-icon>{{react}}</mat-icon>
                        </button>
                      </li>
                    </ul>
                  </nav>
                </li>
              </ul>
            </nav>
            <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon"
              (click)="(comment.focus())">
              <mat-icon>textsms</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon>share</mat-icon>
            </button>
          </div>
        </mat-card-actions>
        <hr>
        <div class="comment-box-container">
          <input type="text" #comment>
        </div>
      </mat-card>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2021</a></li>
            <li><a href="#">February 2021</a></li>
            <li><a href="#">January 2021</a></li>
            <li><a href="#">December 2020</a></li>
            <li><a href="#">November 2020</a></li>
            <li><a href="#">October 2020</a></li>
            <li><a href="#">September 2020</a></li>
            <li><a href="#">August 2020</a></li>
            <li><a href="#">July 2020</a></li>
            <li><a href="#">June 2020</a></li>
            <li><a href="#">May 2020</a></li>
            <li><a href="#">April 2020</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>
