<main class="container">
  <div class="widget-user-header text-white p-4 p-md-5 mb-4 rounded"
    style="background: url('assets/img/62-900x500.jpg') center center; background-size: cover; position: relative;">
    <img class="group_icon" src="assets/img/symbol1.png" alt="Group_Image" style="height: 200px; width: 200px; border-radius: 50%; position: absolute;
            right: 0;
            bottom: 0; margin: 15px; border: 1px solid;">
    <div class="row">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Welcome to the Community Group</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently
          about what’s most interesting in this post’s contents.</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
      </div>
      <div class="join_button_container col-md-6">
        <div class="col-md-3 float-right position-relative">
          <button type="button" class="btn btn-block bg-gradient-primary btn-lg">Join</button>

        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">

      <div class="centering_container">
        <button id="posts-adding-button" data-bs-toggle="tooltip" data-bs-placement="right" title="add a post"
          data-toggle="modal" data-target="#modal-lg">+</button>
      </div>

      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Recent Posts
      </h3>

      <div class="card card-widget">
        <div class="card-header">
          <div class="user-block">
            <img class="img-circle" src="assets/img/user1-128x128.jpg" alt="User Image" style="width: 40px;">
            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
            <span class="description">Shared publicly - 7:30 PM Today</span>
          </div>
          <!-- /.user-block -->
          <div class="card-tools">
            <button type="button" class="btn btn-tool" title="Mark as read">
              <i class="far fa-circle"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <img class="img-fluid pad" src="assets/img/photo2.png" alt="Photo">

          <p>I took this photo this morning. What do you guys think?</p>
          <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
          <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>
          <span class="float-right text-muted">127 likes - 3 comments</span>
        </div>
        <!-- /.card-body -->
        <div class="card-footer card-comments">
          <div class="card-comment">
            <!-- User image -->
            <img class="img-circle img-sm" src="assets/img/user3-128x128.jpg" alt="User Image">

            <div class="comment-text">
              <span class="username">
                Maria Gonzales
                <span class="text-muted float-right">8:03 PM Today</span>
              </span><!-- /.username -->
              It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout.
            </div>
            <!-- /.comment-text -->
          </div>
          <!-- /.card-comment -->
          <div class="card-comment">
            <!-- User image -->
            <img class="img-circle img-sm" src="assets/img/user4-128x128.jpg" alt="User Image">

            <div class="comment-text">
              <span class="username">
                Luna Stark
                <span class="text-muted float-right">8:03 PM Today</span>
              </span><!-- /.username -->
              It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout.
            </div>
            <!-- /.comment-text -->
          </div>
          <!-- /.card-comment -->
        </div>
        <!-- /.card-footer -->
        <div class="card-footer">
          <form action="#" method="post">
            <img class="img-fluid img-circle img-sm" src="assets/img/user4-128x128.jpg" alt="Alt Text"
              style="width: 30px;">
            <!-- .img-push is used to add margin to elements next to floating images -->
            <div class="img-push">
              <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
            </div>
          </form>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
      <div class="card card-widget">
        <div class="card-header">
          <div class="user-block">
            <img class="img-circle" src="assets/img/user1-128x128.jpg" alt="User Image" style="width: 40px;">
            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
            <span class="description">Shared publicly - 7:30 PM Today</span>
          </div>
          <!-- /.user-block -->
          <div class="card-tools">
            <button type="button" class="btn btn-tool" title="Mark as read">
              <i class="far fa-circle"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <img class="img-fluid pad" src="assets/img/photo2.png" alt="Photo">

          <p>I took this photo this morning. What do you guys think?</p>
          <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
          <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>
          <span class="float-right text-muted">127 likes - 3 comments</span>
        </div>
        <!-- /.card-body -->
        <div class="card-footer card-comments">
          <div class="card-comment">
            <!-- User image -->
            <img class="img-circle img-sm" src="assets/img/user3-128x128.jpg" alt="User Image">

            <div class="comment-text">
              <span class="username">
                Maria Gonzales
                <span class="text-muted float-right">8:03 PM Today</span>
              </span><!-- /.username -->
              It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout.
            </div>
            <!-- /.comment-text -->
          </div>
          <!-- /.card-comment -->
          <div class="card-comment">
            <!-- User image -->
            <img class="img-circle img-sm" src="assets/img/user4-128x128.jpg" alt="User Image">

            <div class="comment-text">
              <span class="username">
                Luna Stark
                <span class="text-muted float-right">8:03 PM Today</span>
              </span><!-- /.username -->
              It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout.
            </div>
            <!-- /.comment-text -->
          </div>
          <!-- /.card-comment -->
        </div>
        <!-- /.card-footer -->
        <div class="card-footer">
          <form action="#" method="post">
            <img class="img-fluid img-circle img-sm" src="assets/img/user4-128x128.jpg" alt="Alt Text"
              style="width: 30px;">
            <!-- .img-push is used to add margin to elements next to floating images -->
            <div class="img-push">
              <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
            </div>
          </form>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
      <div class="card card-widget">
        <div class="card-header">
          <div class="user-block">
            <img class="img-circle" src="assets/img/user1-128x128.jpg" alt="User Image" style="width: 40px;">
            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
            <span class="description">Shared publicly - 7:30 PM Today</span>
          </div>
          <!-- /.user-block -->
          <div class="card-tools">
            <button type="button" class="btn btn-tool" title="Mark as read">
              <i class="far fa-circle"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <img class="img-fluid pad" src="assets/img/photo2.png" alt="Photo">

          <p>I took this photo this morning. What do you guys think?</p>
          <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
          <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>
          <span class="float-right text-muted">127 likes - 3 comments</span>
        </div>
        <!-- /.card-body -->
        <div class="card-footer card-comments">
          <div class="card-comment">
            <!-- User image -->
            <img class="img-circle img-sm" src="assets/img/user3-128x128.jpg" alt="User Image">

            <div class="comment-text">
              <span class="username">
                Maria Gonzales
                <span class="text-muted float-right">8:03 PM Today</span>
              </span><!-- /.username -->
              It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout.
            </div>
            <!-- /.comment-text -->
          </div>
          <!-- /.card-comment -->
          <div class="card-comment">
            <!-- User image -->
            <img class="img-circle img-sm" src="assets/img/user4-128x128.jpg" alt="User Image">

            <div class="comment-text">
              <span class="username">
                Luna Stark
                <span class="text-muted float-right">8:03 PM Today</span>
              </span><!-- /.username -->
              It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout.
            </div>
            <!-- /.comment-text -->
          </div>
          <!-- /.card-comment -->
        </div>
        <!-- /.card-footer -->
        <div class="card-footer">
          <form action="#" method="post">
            <img class="img-fluid img-circle img-sm" src="assets/img/user4-128x128.jpg" alt="Alt Text"
              style="width: 30px;">
            <!-- .img-push is used to add margin to elements next to floating images -->
            <div class="img-push">
              <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
            </div>
          </form>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
      <div class="card card-widget">
        <div class="card-header">
          <div class="user-block">
            <img class="img-circle" src="assets/img/user1-128x128.jpg" alt="User Image" style="width: 40px;">
            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
            <span class="description">Shared publicly - 7:30 PM Today</span>
          </div>
          <!-- /.user-block -->
          <div class="card-tools">
            <button type="button" class="btn btn-tool" title="Mark as read">
              <i class="far fa-circle"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <img class="img-fluid pad" src="assets/img/photo2.png" alt="Photo">

          <p>I took this photo this morning. What do you guys think?</p>
          <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
          <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>
          <span class="float-right text-muted">127 likes - 3 comments</span>
        </div>
        <!-- /.card-body -->
        <div class="card-footer card-comments">
          <div class="card-comment">
            <!-- User image -->
            <img class="img-circle img-sm" src="assets/img/user3-128x128.jpg" alt="User Image">

            <div class="comment-text">
              <span class="username">
                Maria Gonzales
                <span class="text-muted float-right">8:03 PM Today</span>
              </span><!-- /.username -->
              It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout.
            </div>
            <!-- /.comment-text -->
          </div>
          <!-- /.card-comment -->
          <div class="card-comment">
            <!-- User image -->
            <img class="img-circle img-sm" src="assets/img/user4-128x128.jpg" alt="User Image">

            <div class="comment-text">
              <span class="username">
                Luna Stark
                <span class="text-muted float-right">8:03 PM Today</span>
              </span><!-- /.username -->
              It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout.
            </div>
            <!-- /.comment-text -->
          </div>
          <!-- /.card-comment -->
        </div>
        <!-- /.card-footer -->
        <div class="card-footer">
          <form action="#" method="post">
            <img class="img-fluid img-circle img-sm" src="assets/img/user4-128x128.jpg" alt="Alt Text"
              style="width: 30px;">
            <!-- .img-push is used to add margin to elements next to floating images -->
            <div class="img-push">
              <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
            </div>
          </form>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
      <div class="card card-widget">
        <div class="card-header">
          <div class="user-block">
            <img class="img-circle" src="assets/img/user1-128x128.jpg" alt="User Image" style="width: 40px;">
            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
            <span class="description">Shared publicly - 7:30 PM Today</span>
          </div>
          <!-- /.user-block -->
          <div class="card-tools">
            <button type="button" class="btn btn-tool" title="Mark as read">
              <i class="far fa-circle"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <img class="img-fluid pad" src="assets/img/photo2.png" alt="Photo">

          <p>I took this photo this morning. What do you guys think?</p>
          <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
          <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>
          <span class="float-right text-muted">127 likes - 3 comments</span>
        </div>
        <!-- /.card-body -->
        <div class="card-footer card-comments">
          <div class="card-comment">
            <!-- User image -->
            <img class="img-circle img-sm" src="assets/img/user3-128x128.jpg" alt="User Image">

            <div class="comment-text">
              <span class="username">
                Maria Gonzales
                <span class="text-muted float-right">8:03 PM Today</span>
              </span><!-- /.username -->
              It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout.
            </div>
            <!-- /.comment-text -->
          </div>
          <!-- /.card-comment -->
          <div class="card-comment">
            <!-- User image -->
            <img class="img-circle img-sm" src="assets/img/user4-128x128.jpg" alt="User Image">

            <div class="comment-text">
              <span class="username">
                Luna Stark
                <span class="text-muted float-right">8:03 PM Today</span>
              </span><!-- /.username -->
              It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout.
            </div>
            <!-- /.comment-text -->
          </div>
          <!-- /.card-comment -->
        </div>
        <!-- /.card-footer -->
        <div class="card-footer">
          <form action="#" method="post">
            <img class="img-fluid img-circle img-sm" src="assets/img/user4-128x128.jpg" alt="Alt Text"
              style="width: 30px;">
            <!-- .img-push is used to add margin to elements next to floating images -->
            <div class="img-push">
              <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
            </div>
          </form>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers,
            content, or something else entirely. Totally up to you.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Group Members</h4>
          <div class="direct-chat-messages" style="height: 300px;">
            <ul class="products-list product-list-in-card pl-2 pr-2 ">
              <li class="item">
                <div class="product-img clearfix">
                  <img src="assets/img/default-150x150.png" alt="Product Image" class="img-size-50"
                    style="border-radius: 50%">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Samsung TV
                    <span class="badge badge-danger float-right">Owner</span></a>
                  <span class="product-description">
                    Samsung 32" 1080p 60Hz LED Smart HDTV.
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="assets/img/default-150x150.png" alt="Product Image" class="img-size-50"
                    style="border-radius: 50%">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Bicycle
                    <span class="badge badge-warning float-right">Admin</span></a>
                  <span class="product-description">
                    26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="assets/img/default-150x150.png" alt="Product Image" class="img-size-50"
                    style="border-radius: 50%">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">
                    Xbox One
                  </a>
                  <span class="product-description">
                    Xbox One Console Bundle with Halo Master Chief Collection.
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="assets/img/default-150x150.png" alt="Product Image" class="img-size-50"
                    style="border-radius: 50%">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">PlayStation 4
                  </a>
                  <span class="product-description">
                    PlayStation 4 500GB Console (PS4)
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="assets/img/default-150x150.png" alt="Product Image" class="img-size-50"
                    style="border-radius: 50%">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">
                    Xbox One
                  </a>
                  <span class="product-description">
                    Xbox One Console Bundle with Halo Master Chief Collection.
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="assets/img/default-150x150.png" alt="Product Image" class="img-size-50"
                    style="border-radius: 50%">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">PlayStation 4
                  </a>
                  <span class="product-description">
                    PlayStation 4 500GB Console (PS4)
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="assets/img/default-150x150.png" alt="Product Image" class="img-size-50"
                    style="border-radius: 50%">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">
                    Xbox One
                  </a>
                  <span class="product-description">
                    Xbox One Console Bundle with Halo Master Chief Collection.
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="assets/img/default-150x150.png" alt="Product Image" class="img-size-50"
                    style="border-radius: 50%">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">PlayStation 4
                  </a>
                  <span class="product-description">
                    PlayStation 4 500GB Console (PS4)
                  </span>
                </div>
              </li>
              <!-- /.item -->
            </ul>
          </div>
        </div>
        <!-- 
        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
         -->
      </div>
    </div>
  </div>

</main>

<div class="modal fade" id="modal-lg" onClose={handleClose}>
  <div class="modal-dialog modal-lg search-box" style="position: fixed;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);">
    <mat-dialog-content class="mat-typography">
      <div class="modal-content">
        <div class="modal-body">
          <div class="header-container">
            <h1 class="create-launch-theme">😇 <span class="words"> Let's make a Launch</span>😉🚀</h1>
          </div>
          <div class="launch-creating-area">
            <div class="card">
              <div class="upload-media">
                <div class="sub-upload-media">
                  <img class="blah" *ngIf="visibleImage" [src]="imageSrc || 'assets/img/default.png'"
                    alt="your image"  style="width: 332.22px;"/>
                  <video class="blah" *ngIf="visibleVideo" width="320" height="240" controls [src]="videoSrc" autoplay>
                    Your browser does not support the video tag.
                  </video>
                  <audio class="blah" *ngIf="visibleAudio" controls autoplay [src]="audioSrc">
                    <source [src]="audioSrc">
                    Your browser does not support the audio element.
                  </audio>
                </div>
                <div class="uploading-button-container">
                  <input type="file" name="file-input" id="file-input" class="file-input__input"
                    (change)="readURL($event);" />
                  <label class="file-input__label" for="file-input">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload"
                      class="svg-inline--fa fa-upload fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512">
                      <path fill="currentColor"
                        d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z">
                      </path>
                    </svg>
                  </label>
                </div>
              </div>
              <form>

                <div class="form-group">
                  <div class="launch-description">
                    <mat-form-field class="example-full-width">
                      <mat-label>Describe your launch 😉</mat-label>
                      <textarea matInput class="example-full-width description" name="launch-description"
                        [(ngModel)]="description"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group">
                  <div class="feeling-container">
                    Feeling with Launch :

                    <div class="btn-group">
                      <button type="button" class="btn btn-default" data-toggle="dropdown">
                        <strong class="feeling-with-launch-icon">{{emoji}}</strong>
                      </button>
                      <div class="dropdown-menu" role="menu">
                        <a *ngFor="let emoji of emojis" class="emojis" (click)="addEmoji (emoji)">{{emoji}}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <angular-emojis [name]="emojivar" size="30" (mouseenter)="changeRoutine()" > </angular-emojis> -->

                <div class="sub-container">
                  <mat-slider class="form-control" [displayWith]="formatLabel" min="1" max="1000" step="4" value="1.5"
                    (input)="pitch($event)">
                    🚀
                  </mat-slider>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>