<div class="header-container">
  <h1 class="create-launch-theme">😇 <span class="words"> Let's make a Launch</span>😉 #🚀</h1>
</div>
<div class="launch-creating-area">
  <div class="card">
    <div class="upload-media">
      <div class="sub-upload-media">
        <img class="blah" *ngIf="visibleImage" [src]="imageSrc || 'assets/img/default.png'" alt="your image"/>
        <video class="blah" *ngIf="visibleVideo" width="320" height="240" controls [src]="videoSrc" autoplay>
          Your browser does not support the video tag.
        </video>
        <audio class="blah" *ngIf="visibleAudio"  controls autoplay [src]="audioSrc">
          <source [src]="audioSrc">
          Your browser does not support the audio element.
        </audio>
      </div>
      <div class="uploading-button-container">
        <input
          type="file"
          name="file-input"
          id="file-input"
          class="file-input__input"
          (change)="readURL($event);"
        />
        <label class="file-input__label" for="file-input">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="upload"
            class="svg-inline--fa fa-upload fa-w-16"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"
            ></path>
          </svg>
        </label
        >
      </div>
    </div>
    <form>
      <div class="form-group">
        <div class="launch-description">
          <mat-form-field class="example-full-width">
            <mat-label># Give Description to your launch 😉</mat-label>
            <textarea matInput class="example-full-width" name="launch-description" [(ngModel)]="description"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group">
        <div class="feeling-container">
          Feeling with Launch :
          <button mat-button [matMenuTriggerFor]="menu" class=".btn" style="border: 0; background-color: transparent">
            <strong>🤗</strong></button>
          <div class="mat-menu-container">
            <mat-menu #menu="matMenu">
              <div class="mat-menu-panel">
                <button *ngFor="let emoji of emojis" class="emojis" (click)="addEmoji(emoji)">{{emoji}}</button>
              </div>
            </mat-menu>
          </div>
          <span class="float-right">{{emoji}}</span>
        </div>
      </div>
      <div class="sub-container">
        <mat-slider class="form-control" [displayWith]="formatLabel" min="1" max="1000" step="4" value="1.5"
                    (input)="pitch($event)">
          🚀
        </mat-slider>
      </div>
    </form>
  </div>
</div>

<hr>
<h1 class="create-launch-theme">😇 <span class="words"> Let's Watch Your Latest Launches</span>😉 #🚀</h1>
<div class="latest-launches"></div>
<hr>
<div class="sub-container">
  <div class="main-content" *ngFor="let launch of launches">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img src="data:image/png;base64,{{launch.file}}" class="image-view">
      <!--      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <!--      <div [innerHTML]="launch.file"></div>-->
      <mat-card-content>
        <p [innerText]="launch.description"></p>
      </mat-card-content>
      <mat-card-actions>
        <button class="mat-button" color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button class="mat-button" color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>




